[submodule "Env/entt"]
	path = Env/entt
	url = https://github.com/skypjack/entt.git
[submodule "Env/concurrencpp"]
	path = Env/concurrencpp
	url = https://github.com/David-Haim/concurrencpp.git
[submodule "Env/glfw"]
	path = Env/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Env/ktm"]
	path = Env/ktm
	url = https://github.com/YGXXD/ktm.git
[submodule "Env/assimp"]
	path = Env/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Env/CabbageDisplay"]
	path = Env/CabbageDisplay
	url = https://github.com/CoronaEngine/CabbageDisplay.git
[submodule "Env/stb"]
	path = Env/stb
	url = https://github.com/nothings/stb.git
